body {
    background-color: #d0d0d0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

header {
    padding: 0 20px;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    align-items: center;
    display: flex;
    margin: 0 20px;
}

.img-logo, .nombre {
    margin-right: 15px;   
}

.img-logo {
    height: 50px;
    width: 50px;
}

.nombre {
    font-size: 24px;
    font-weight: 800;
}

ul {
    display: inline-flex;
    list-style-type: none;
    margin-right: 20px;
}

li {
    align-items: center;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    height: 20px;
    justify-content: center;
    margin: 0 20px;
    padding: 10px;
    position: relative;
    width: 20px;
}

li a {
    color: #FFF;
}

li .titulo-red {
    font-size: 14px;
    opacity: 0;
    position: absolute;
    top: calc(100% + 5px);
}

li:nth-child(1) {
    background-color: #0294FF;
}

li:nth-child(2) {
    background-color: #444;
}

li:nth-child(3) {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
}

li:hover .titulo-red {
    opacity: 1;
}

/* DIVISION */
.division {
    background-color: #FF7F00;
    border-radius: 60%;
    height: 6px;
    margin: 0 auto;
    width: 95%;
}

/* SECTION ACERCA DE MI */
#acerca-de {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    padding: 0;
}

.contenido, .contenedor-despro {
    padding: 0px 40px;
    position: relative;
}

.contenido {
    width: 750px;
}

.contenido::before {
    background-color: #FF7F00;
    border-radius: 10px;
    content: '';
    height: 200px;
    left: 100%;
    position: absolute;
    width: 3px;
}

.contenedor-despro {
    margin-bottom: 40px;
}

.desarrollador-titulo, .desarrollando {
    color: #FF7F00;
    font-size: 30px;
}

.card {
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    width: 750px;
}

.desarrollador {
    text-align: center;
}

.desarrollador span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
}

.desarrollador .fecha {
    align-items: center;
    color: #4ecee2;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    justify-content: center;
}

.fecha .fecha-titulo, .fecha .proyectos-contador {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 15px;
}

.fecha #años,
.fecha #meses,
.fecha #dias,
.fecha #proyectos-contador {
    background-color: #333;
    border-radius: 3px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    height: 70px;
    flex-direction: column;
    margin: 0 5px;
    width: 80px;
}

/* SECTION LENGUAJES APRENDIDOS */
#habilidades {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.contenedor-habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}

.habilidad {
    border-radius: 50%;
    box-shadow: 0 0 30px inset rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.habilidad:hover::after {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    color: #fff;
    content: attr(data-nivel);
    display: flex;
    font-size: 1em;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.habilidad:nth-child(1) {
    border: 10px solid #FF7F00;
}

.habilidad:nth-child(2) {
    border: 10px solid #0294FF;
}

.habilidad:nth-child(3) {
    border: 10px solid #FEC000;
}

.habilidad:nth-child(4) {
    border: 10px solid #4ecee2;
}

.habilidad:nth-child(5) {
    border: 10px solid #FF4848;
}

.habilidad:nth-child(6) {
    border: 10px solid #FF2F25;
}

.icono {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 90px;
}

.icono .img-icono {
    height: 50px;
    width: 50px;
}

.habilidad span {
    color: #000;
    display: block;
    font-size: 0.9em;
    font-weight: 700;
    margin-top: 5px;
}

.habilidad::before {
    animation: wave 2s infinite;
    background-color: #0077be;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: var(--porcentaje);
    width: 100%;
}

.habilidad .porcentaje {
    font-size: 0.7em;
    font-weight: 500;
    left: 50%;
    position: absolute;
    top: 85%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

/* SECTION MIS PROYECTOS */
#proyectos {
    display: flex;
    justify-content: space-between;
    margin: 80px 50px 50px 50px;
    position: relative;
}

.titulo-proyectos {
    color: #FF7F00;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    justify-content: center;
    margin: 0 0 30px 0;
    text-align: center;
}

.titulo-proyectos-abajo {
    color: #0294FF;
}

.proyectos-contenedor {
    cursor: pointer;
    display: flex;
    height: 350px;
    position: relative;
    width: 500px;
}

.card-proyecto {
    background-color: #fff;
    border-radius: 5px;
    display: none;
    height: 300px;
    max-width: 500px;
    overflow: hidden;
    position: absolute;
    text-align: center;
}

.card-proyecto.activo {
    display: block;
}

.anterior-pro, .siguiente-pro {
    border: none;
    color: #FF7F00;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    text-shadow: -2px -2px 2px #000;
    top: 100%;
    transform: translateY(-100%);
}

.anterior-pro {
    left: 40%;
}

.siguiente-pro {
    right: 40%;
}

.posicion-pro {
    bottom: 0;
    color: #333;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    left: 50%;
    position: absolute;
    transform: translate(-60%, -30%);
}

.proyecto {
    height: 100%;
    position: relative;
}

.proyecto-contenido {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 1;
    text-align: center;
}

.proyecto-contenido p {
    width: 90%;
}

.proyecto-contenido h3 {
    font-size: 1.3em;
}

.card-proyecto:hover .proyecto-contenido {
    opacity: 0;
}

.hover-efecto {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    transition: opacity 0.3s ease-out;
    width: 100%;
}

.proyecto:hover .hover-efecto {
    opacity: 1;
}

.proyecto-contenido, .hover-efecto {
    width: 100%;
}

.hover-efecto h3 {
    color: #fff;
    font-size: 1.2em;
}

.lenguajes-utilizados {
    display: flex;
    gap: 10px;
}

.lenguaje-item {
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    height: 38px;
    justify-content: center;
    overflow: hidden;
    width: 38px;
}

.lenguajes-utilizados img {
    height: 20px;
    max-height: 100%;
    max-width: 100%;
    width: 20px;
}

.icono-proyecto {
    height: 40px;
    margin-bottom: 10px;
    width: 40px;
}

.carousel {
    aspect-ratio: 16/9;
    position: relative;
    width: 500px;
}

.contenedor-imagen {
    border-radius: 5px;
    overflow: hidden;
    width: 500px;
}

.carousel img {
    display: block;
    height: 300px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 100%;
}

.carousel img.hidden {
    opacity: 0;
}

.carousel img.visible {
    opacity: 1;
}

.anterior, .siguiente {
    border: none;
    color: #FF7F00;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    text-shadow: -2px -2px 2px #000;
    top: 100%;
}

.anterior {
    left: 40%;
}

.siguiente {
    right: 40%;
}

/* SECTION CONTACTO */
.contenedor-formulario-contacto {
    display: flex;
    padding: 0px 40px;
}

.formulario-contacto {
    position: relative;
    width: 650px;
}

.formulario-contacto h3 {
    color: #000;
    margin-left: 10px;
    text-align: left;
}

.control {
    display: flex;
    margin-top: 50px;
    position: relative;
}

.control .labin {
    margin: 0 10px;
    position: relative;
}

.labin label {
    font-weight: 600;
    left: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: top 0.3s ease;
}

.control input {
    border: 2px solid #0294FF;
    border-radius: 4px;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    height: 32px;
    padding-left: 5px;
    width: 265px;
}

.control textarea {
    border: 2px solid #0294FF;
    border-radius: 4px;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
}

.control textarea::placeholder {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.control textarea:focus::placeholder {
    visibility: hidden;
}

.labin button {
    background-color: #0294FF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    height: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(0%);
    width: 277px;
}

.labin button:hover {
    background-color: #000;
    color: #FF7F00;
}

.mas-informacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
}

.mas-informacion iframe {
    border-radius: 4px;
    margin-top: 30px;
}

.mis-datos {
    margin: 70px 20px;
    width: 100%;
}

.mis-datos div {
    display: flex;
    margin: 60px 0;
}

.mis-datos div span {
    font-weight: 600;
    margin-left: 5px;
}

.mis-datos img {
    height: 25px;
    width: 25px;
}