* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F0F0;
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

header {
    background-color: #ffffff;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow: hidden;
    width: 350px;
}

/* PRESENTACION */
.contenedor_presentacion {
    height: 100%;
    width: 100%;
}

.logo_titulo .imagen {
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo_titulo img {
    border: 3px solid #000;
    border-radius: 5px;
    height: 150px;
    margin-top: 10px;
    perspective: 1000px;
    width: 190px;
}

.logo_titulo h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0px 5px 0px;
    text-align: center;
}

.ocupacion {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.ocupacion span {
    background-color: #007BFF;
    border-radius: 3px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}

.contenedor_redes {
    align-items: center;
    display: flex;
    justify-content: center;
}

.contenedor_redes a {
    align-items: center;
    background-color: #F0F0F9;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #000;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 0 8px;
    transition: all .2s ease;
    text-decoration: none;
    width: 30px;
}

.contenedor_redes a:hover i {
    color: #FFF;
}

.contenedor_redes a:nth-child(1):hover {
    background-color: #1877F2;
}

.contenedor_redes a:nth-child(2):hover {
    background-color: #000;
}

.contenedor_redes a:nth-child(3):hover {
    background-color: #1DA1F2;
}

.contenedor_redes a:nth-child(4):hover {
    background-color: #C13584;
}

.contenedor_redes a:hover {
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.contenedor_redes i {
    font-size: 18px;
}

.fa-facebook-f {
    color: #1877F2;
}

.fa-github {
    color: #000;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-instagram {
    color: #C13584;
}

.contenedor_contacto {
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 20px 5px 20px;
}

.contenedor_contacto .informacion {
    border-bottom: 2px solid #F9F9F9;
    border-radius: 3px;
    display: flex;
    margin: 6px 0;
    padding: 10px;
    width: 100%;
}

.contenedor_contacto .informacion:last-child {
    border-bottom: none;
}

.contenedor_contacto .icono_informacion {
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
}

.contenedor_contacto .datos {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    margin: 0 10px;
}

.contenedor_contacto .datos span:nth-child(1) {
    font-weight: 500;
}

.contenedor_contacto .datos span:nth-child(2) {
    font-weight: 600;
}

.fa-phone {
    color: #007BFF;
}

.fa-envelope {
    color: #FD7E14;
}

.fa-location-dot {
    color: #DC3545;
}

.fa-calendar {
    color: #6C757D;
}

.contenedor_presentacion .contenedor_boton {
    align-items: center;
    display: flex;
    justify-content: center;
}

.contenedor_presentacion button {
    background-color: #007BFF;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #FFF;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
    width: 200px;
}

.contenedor_presentacion button:hover {
    background-color: #FFF;
    color: #007BFF;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.contenedor_navegacion {
    display: flex;
    width: 100%;
}

.contenedor_navegacion nav {
    align-items: center;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenedor_navegacion nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.contenedor_navegacion nav li {
    display: flex;
}

.contenedor_navegacion a.enlace_activo {
    background-color: #FFF;
    color: #007BFF;
}

.contenedor_navegacion nav a {
    align-items: center;
    background-color: #007BFF;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #FFF;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    text-decoration: none;
    width: 200px;
}

.contenedor_navegacion nav a:hover {
    background-color: #FFF;
    color: #007BFF;
}

.contenedor_navegacion nav a i {
    margin: 0 5px;
}

/* CONTENEDOR PRINCIPAL */
.contenedor_principal {
    background-color: #F9F9F9;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    margin-top: 30px;
    overflow: hidden;
    width: 100%;
}

.contenedor_principal.activo {
    display: flex;
}

/* ACERCA DE Y DESARROLLANDO */
.contenedor_acercade_desarrollando {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.contenedor_acercade .titulo_linea,
.contenedor_desarrollando .titulo_linea {
    align-items: center;
    display: flex;
}

.contenedor_acercade .titulo_linea div,
.contenedor_desarrollando .titulo_linea div {
    align-items: center;
    background-color: #DC3545;
    border-radius: 5px;
    display: flex;
    height: 2px;
    justify-content: center;
    margin-left: 10px;
    width: 300px;
}

.contenedor_acercade p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    text-align: justify;
    width: 440px;
}

.contenedor_desarrollando h3 {
    margin-left: 40px;
}

.desarrollador {
    margin-top: 5px;
    text-align: center;
}

.desarrollador span {
    align-items: center;
    display: block;
    font-size: 18px;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
}

.desarrollador .fecha {
    align-items: center;
    color: #FFF;
    display: flex;
    font-size: 22px;
    font-weight: 600;
    flex-direction: row;
}

.desarrollador span div {
    color: #000;
}

.fecha .fecha-titulo {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    color: #FFF;
    font-size: 15px;
}

.fecha #años,
.fecha #meses,
.fecha #dias {
    background-color: #DC3545;
    border-radius: 3px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    margin: 0 5px;
    width: 80px;
}

/* HABILIDADES */
.contenedor_habilidades {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 20px;
    width: 100%;
}

.habilidad {
    background-color: rgba(108, 117, 125, 0.3);
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 150px;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px;
}

.habilidad:nth-child(1) {
    background-color: rgba(0, 45, 98, 0.2);
}

.habilidad:nth-child(2) {
    background-color: rgba(206, 17, 38, 0.2);
}

.habilidad:nth-child(3) {
    background-color: rgba(206, 17, 38, 0.2);
}

.habilidad:nth-child(4) {
    background-color: rgba(0, 45, 98, 0.2);
}

.habilidad i {
    font-size: 20px;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.4);
}

.habilidad .titulo_descripcion {
    font-size: 16px;
    margin-left: 5px;
}

.habilidad .titulo_descripcion h4 {
    margin: 0;
}

.habilidad .titulo_descripcion p {
    font-weight: 500;
    margin-top: 5px;
}

.fa-layer-group {
    color: #6A0DAD;
}

.fa-code {
    color: #E67E22;
}

.fa-server {
    color: #28A745;
}

.fa-database {
    color: #3498DB;
}

/* LENGUAJES APRENDIDOS */
.lenguaje {
    background-color: rgba(108, 117, 125, 0.3);
    border-radius: 3px;
    display: flex;
    height: 86px;
    justify-content: space-between;
    margin: 2px 0;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 100%;
}

.lenguaje:first-child {
    margin: 0;
}

.lenguaje::before {
    animation: wave 2s infinite;
    background-color: #007BFF;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.lenguaje[data-porcentaje="10"]::before {
    right: 90%;
}

.lenguaje[data-porcentaje="20"]::before {
    right: 80%;
}

.lenguaje[data-porcentaje="30"]::before {
    right: 70%;
}

.lenguaje[data-porcentaje="40"]::before {
    right: 60%;
}

.lenguaje[data-porcentaje="50"]::before {
    right: 50%;
}

.lenguaje[data-porcentaje="60"]::before {
    right: 40%;
}

.lenguaje[data-porcentaje="70"]::before {
    right: 30%;
}

.lenguaje[data-porcentaje="80"]::before {
    right: 20%;
}

.lenguaje[data-porcentaje="90"]::before {
    right: 10%;
}

.lenguaje[data-porcentaje="100"]::before {
    right: 0%;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0);
    }
}

.lenguaje .icono {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.lenguaje .icono span {
    font-size: 18px;
    font-weight: 600;
    height: 20px;
    margin-left: 10px;
    width: 20px;
    z-index: 1;
}

.lenguaje .porcentaje {
    font-weight: 500;
    z-index: 1;
}

.lenguaje img {
    filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.2));
    height: 55px;
    width: 55px;
}


/* PROYECTOS */
.proyectos-contenedor {
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}

.card-proyecto {
    box-sizing: border-box;
    height: 100%;
    min-height: 265px;
    overflow: hidden;
    text-align: center;
}

.card-proyecto:nth-child(1) {
    background-color: rgba(10, 50, 90, 0.2);
}

.card-proyecto:nth-child(2) {
    background-color: rgba(205, 20, 40, 0.2);
}

.card-proyecto:nth-child(3) {
    background-color: rgba(205, 20, 40, 0.2);
}

.proyecto {
    height: 100%;
    position: relative;
}

.icono-proyecto {
    filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.2));
    height: 40px;
    margin-bottom: 5px;
    width: 40px;
}

.proyecto-contenido {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 1;
    text-align: center;
}

.proyecto-contenido p {
    font-weight: 500;
    margin-top: 10px;
    width: 90%;
}

.proyecto-contenido h3 {
    font-size: 1.3em;
    margin-top: 5px;
}

.card-proyecto:hover .proyecto-contenido {
    opacity: 0;
}

.hover-efecto {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-out;
    width: 100%;
}

.proyecto:hover .hover-efecto {
    opacity: 1;
}

.proyecto-contenido, .hover-efecto {
    width: 100%;
}

.hover-efecto h3 {
    color: #fff;
    font-size: 1.2em;
}

.lenguajes-utilizados {
    display: flex;
    gap: 10px;
}

.lenguaje-item {
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    height: 38px;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
    width: 38px;
}

.lenguajes-utilizados img {
    height: 20px;
    max-height: 100%;
    max-width: 100%;
    width: 20px;
}


.paginacion_proyectos {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.paginacion_proyectos button {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    margin: 0 10px;
    width: 30px;
}

.paginacion_proyectos button:hover {
    background-color: #FFF;
    color: #007BFF;
}

.paginacion_proyectos span {
    font-size: 16px;
    font-weight: 500;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

/* FORMULARIO DE CONTACTO */
.formularioContacto {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    z-index: 100;
    width: 100%;
}

.formularioContacto .control, 
.formularioContacto button {
    margin: 15px 0;
}

.formularioContacto .control, 
.formularioContacto .nomape {
    display: flex;
    flex-direction: column;
}

.formularioContacto .contenedor_nomape {
    display: flex;
}

.formularioContacto .contenedor_nomape .nomape {
    margin: 0 10px;
}

.formularioContacto .contenedor_nomape input {
    width: 240px;
}

.formularioContacto label {
    font-size: 14px;
    font-weight: 600;
}

.formularioContacto input {
    height: 28px;
    margin-top: 5px;
}

.formularioContacto input, 
.formularioContacto textarea {
    background-color: transparent;
    border: 1px solid #007BFF;
    border-radius: 5px;
    font-weight: 400;
    padding-left: 5px;
    width: 500px;
}

.formularioContacto input:focus,
.formularioContacto textarea:focus {
    border: none;
    outline: 1px solid #000;
}

.formularioContacto textarea::placeholder {
    color: #000;
    font-weight: 600;
}

.formularioContacto button {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    height: 34px;
    width: 500px;
}

.formularioContacto button:hover {
    background-color: #FFF;
    color: #007BFF;
}

.contenedor_principal_contacto {
    position: relative;
}